In [2]:
import pandas as pd

In [19]:
lst = [[(1,1),(2,2),(3,3),(4,4),(5,5)], [10,20,30,40,50]]
df = pd.DataFrame(lst, index=['i','ii'], columns=['A','B','C','D','E'])
df

         A       B       C       D       E
i   (1, 1)  (2, 2)  (3, 3)  (4, 4)  (5, 5)
ii      10      20      30      40      50

In [6]:
# Using list of lists :)

lst = [['A', 1], ['B', 2], ['C', 3]]
df = pd.DataFrame(lst, columns=['Letter', 'Number'])
df

  Letter  Number
0      A       1
1      B       2
2      C       3

In [6]:
# Using dictionary :)
data = {'Letter': ['A', 'B', 'C'],
        'Number': [1, 2, 3]}
df = pd.DataFrame(data, index=['First', 'Second', 'Third'])
df

       Letter  Number
First       A       1
Second      B       2
Third       C       3

In [13]:
# Using a list of dictionaries

lst = [{'a': 1, 'b': 2},
       {'a': 3, 'b': 4},
       {'a': 5}]
df = pd.DataFrame(lst)
df

   a    b
0  1  2.0
1  3  4.0
2  5  NaN

In [17]:
# Using zip function

letter = ['A', 'B', 'C']
number = [1, 2, 3]
lst = list(zip(letter, number))
print(lst)
df = pd.DataFrame(lst, columns=['Letter', 'Number'])
df

[('A', 1), ('B', 2), ('C', 3)]

  Letter  Number
0      A       1
1      B       2
2      C       3

In [19]:
# Using a dictionary of series

data = {'A': pd.Series([1, 2, 3]),
        'B': pd.Series([4, 5, 6]),
        'C': pd.Series([7, 8, 9])}
df = pd.DataFrame(data)
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [28]:
# Filtering dataframes

x = df[["A", "B"]]
print(f"x: {type(x)}")
print(x)
y = df.loc[df["B"]%2==0, ["A", "B"]]
print(f"y: {type(y)}")
print(y)
z = df.iloc[0:2, 0:3]
print(f"z: {type(z)}")
print(z)
a = df.iloc[0:2, [0, 2]]
print(f"a: {type(a)}")
print(a)
mylist = df.loc[df["B"]%2==0, ["A", "B"]].values
print(f"mylist: {type(mylist)}")
print(mylist.tolist())
onedim = df.loc[df["B"]%2==0, ["A", "B"]].values.flatten()
print(f"onedim: {type(onedim)}")
print(onedim.tolist())
justA = df.loc[df["B"]%2==0, "A"]
print(f"justA: {type(justA)}")
print(justA.tolist())
# .values returns a numpy array
# without .values, you get a dataframe or series

x: <class 'pandas.core.frame.DataFrame'>
   A  B
0  1  4
1  2  5
2  3  6
y: <class 'pandas.core.frame.DataFrame'>
   A  B
0  1  4
2  3  6
z: <class 'pandas.core.frame.DataFrame'>
   A  B  C
0  1  4  7
1  2  5  8
a: <class 'pandas.core.frame.DataFrame'>
   A  C
0  1  7
1  2  8
mylist: <class 'numpy.ndarray'>
[[1, 4], [3, 6]]
onedim: <class 'numpy.ndarray'>
[1, 4, 3, 6]
justA: <class 'pandas.core.series.Series'>
[1, 3]